{% extends "addman/base.html" %}
{% block head_extras %}
{% endblock %}

{% block title %}
    Address Detail
{% endblock %}


{% block page_content %}
    <h1 class="text-{{ address.status }}">{{ address|safe }}</h1>
    <h2>Status: <span class="text-{{ address.status }}">{{ address.status|title }}.</span></h2>
    {% if address.status == 'MATCHED_PARTIAL' %}
        <a href="{% url 'addman:confirm' address.id %}">Confirm</a>
    {% elif address.status == 'UNSUBMITTED' %}
        <a href="{% url 'addman:validate' address.id %}">Validate</a>
    {% endif %}
    <ul>
        <li>
            User input: {{ address.user_input }}
        </li>
        <li>
            Date created: {{ address.creation_time }}
        </li>
        <li>
            Address set: {{ address.address_set }}
        </li>
        <li>Message: {{ address.message }}</li>
        <li>Street: {{ address.street }}</li>
        <li>City: {{ address.city }}</li>
        <li>State: {{ address.state }}</li>
        <li>Zip5: {{ address.zip5 }}</li>
        <li>Zip4: {{ address.zip4 }}</li>
    </ul>
    <form method="post" action="{% url 'addman:update_address' address.id %}">
        {% csrf_token %}
        <div class="form-group">
            {{ address_update_form }}
        </div>

        <input type="submit" class="btn btn-primary" value="Change"/>
    </form>
{% endblock %}
