{% extends "addman/base.html" %}

{% block head_extras %}
{% endblock %}

{% block title %}
    All Addresses
{% endblock %}

{% block page_content %}

    {% if messages %}
        {% for message in messages %}
            <p><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}



    <form action="{% url 'addman:all_addresses' %}" method="get">

        <div class="form-group">

            {{ address_set_select_form }}
        </div>


        <input type="submit" class="btn btn-primary" value="Change"/>
    </form>

    {% if all_addresses_list %}
        <table class='table table-striped'>
            <tbody>
            <tr>
                <th>Address ID</th>
                <th>User input</th>
                <th>Creation time</th>
                <th>Address set</th>
            </tr>
            {% for address in all_addresses_list %}
                <tr>
                    <td>{{ address.pk }}</td>
                    <td><a href="{% url 'addman:address_detail' address.pk %}">{{ address.user_input }}</a></td>
                    <td>{{ address.creation_time }}</td>
                    <td>{{ address.address_set }}</td>
                    <td>{{ address.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No addresses are available.</p>
    {% endif %}

{% endblock %}
