{% extends "addman/base.html" %}

{% block head_extras %}

    <script>
    </script>

{% endblock %}

{% block title %}
    All Addresses
{% endblock %}

{% block page_content %}

    {% if messages %}
        {% for message in messages %}
            <p><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}



    <form action="{% url 'addman:all_addresses' %}" method="get">

        <div class="form-group">

            {{ address_set_select_form }}
        </div>


        <input type="submit" class="btn btn-primary" value="Change"/>
    </form>

    {% if all_addresses_list %}
        <table id='addresses' class='table table-striped'>
            <thead>
            <tr>
                <th>pk</th>
                <th>Address</th>
                <th>Creation time</th>
                <th>Address set</th>
                <th>Validation Status</th>
                <th>Validation Message</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for address in all_addresses_list %}
                <tr>
                    <td class="id">{{ address.id }}</td>
                    <td class="address border-left-{{ address.status }}">
                        <a href="{% url 'addman:address_detail' address.pk %}">
                            {{ address|safe }}
                        </a>
                    </td>
                    <td class="creation_time">{{ address.creation_time }}</tdclass>
                    <td class="address_set">{{ address.address_set }}</td>
                    <td class="status">{{ address.status }}</td>
                    <td class="mesage">{{ address.message }}</td>
                    <td class="validate-cell"><a href="#!">Validate</ah></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <p>No addresses are available.</p>
    {% endif %}

    <script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
    <link rel="stylesheet" href="
https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css">

    <script type="text/javascript">

        function updateStatusClasses() {
            $("#addresses tbody tr").each(function () {
                var status = $(this).children(".status").text();
                $(this).children("td:first-child").addClass("border-left-" + status)
            });
        }

        $(document).ready(function () {
            $("#addresses").DataTable({
                dom: 'Bilftp',
                buttons: [
                    'copy',
                    'csv',
                    'excel',
                    'pdf'
                ],
                'columnDefs': [
                    {
                        'targets': [0],
                        'visible': false,
                    }
                ],
            });

            $('#addresses tbody').on('click', '.validate-cell', function () {

                var table = $('#addresses').DataTable();
                var row = table.row(this);
                var data = row.data();
                var pk = data[0];
                var url = '/validate_async/' + pk + '/';

                $.get(url, function (resp) {
                    data[1] = resp.str;
                    data[1] = '<a href="/detail/' + resp.id + '">'
                            + resp.str
                            + '</a>';
                    data[4] = resp.status;
                    data[5] = resp.message;
                    row.data(data);
                    updateStatusClasses();
                }, "json");

            });
        });
    </script>

{% endblock %}
