{% extends "addman/base.html" %}

{% block head_extras %}

    <script>
    </script>

{% endblock %}

{% block title %}
    All Addresses
{% endblock %}

{% block page_content %}

    {% if messages %}
        {% for message in messages %}
            <p><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}


    <div class="row">
        <div class="col-sm-12">
            <form action="{% url 'addman:all_addresses' %}" method="get" class="form-inline">

                <div class="form-group center-block">

                    {{ address_set_select_form }}

                    <input type="submit" class="btn btn-primary" value="Change"/>

                </div>
            </form>

        </div>
    </div>
    <hr>

    {% if all_addresses_list %}
        <table id='addresses' class='table table-striped'>
            <thead>
            <tr>
                <th class="id">pk</th>
                <th class="address">Address</th>
                <th class="creation_time">Creation time</th>
                <th class="address_set">Set</th>
                <th class="status">Validation Status</th>
                <th class="message">Validation Message</th>
                <th class="action">Action</th>
                <th class="user_input">user_input</th>
                <th class="street">street</th>
                <th class="line2">line2</th>
                <th class="city">city</th>
                <th class="state">state</th>
                <th class="zip5">zip5</th>
                <th class="zip4">zip4</th>
                <th class="str">str</th>
            </tr>
            </thead>
            <tbody>
            {% for address in all_addresses_list %}
                <tr>
                    <td class="id">{{ address.id }}</td>
                    <td class="address border-left-{{ address.status }}">
                        <a href="{% url 'addman:address_detail' address.pk %}">
                            {{ address|safe }}
                        </a>
                    </td>
                    <td class="creation_time">{{ address.creation_time }}</td>
                    <td class="address_set">{{ address.address_set }}</td>
                    <td class="status">{{ address.status }}</td>
                    <td class="message">{{ address.message }}</td>
                    <td class="action action-{{ address.status }}"></td>
                    <td class="user_input">{{ address.user_input }}</td>
                    <td class="street">{{ address.street }}</td>
                    <td class="line2">{{ address.line2 }}</td>
                    <td class="city">{{ address.city }}</td>
                    <td class="state">{{ address.state }}</td>
                    <td class="zip5">{{ address.zip5 }}</td>
                    <td class="zip4">{{ address.zip4 }}</td>
                    <td class="str">{{ address }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <p>No addresses are available.</p>
    {% endif %}

    <script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
    <link rel="stylesheet" href="
https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css">

    <script type="text/javascript">

        function updateStatusClasses() {
            $("#addresses tbody tr").each(function () {
                var status = $(this).children(".status").text();
                $(this)
                        .children("td:first-child")
                        .removeClass("border-left-UNSUBMITTED border-left-FAILED border-left-MATCHED_PARTIAL border-left-MATCHED")
                        .addClass("border-left-" + status);
                $(this)
                        .children("td.action")
                        .removeClass("action-UNSUBMITTED action-FAILED action-MATCHED_PARTIAL action-MATCHED")
                        .addClass("action-" + status);
            });
        }

        function line2(city, state, zip5, zip4) {
            line = city + ", " + state + " " + zip5;
            if (zip4) {
                line += "-";
                line += zip4;
            }
            return line;
        }

        function actionCellContent(id, status) {

            var contents = {
                'FAILED': '<a href="/detail/' + id + '">Edit</a>',
                'MATCHED_PARTIAL': '<a href="#!">Confirm</a>',
                'MATCHED': '<a href="/detail/' + id + '">Edit</a>',
                'UNSUBMITTED': '<a href="#!">Validate</a>',
            };
            return contents[status];

        }


        function addressCellContent(data, type, full, meta) {

            var composedCell = 'sample';
            var status = full[4];

            if (full[4] === "MATCHED_PARTIAL") {
                composedCell = "<a href='/detail/" + full[0] + "'>" +
                        full[8] +
                        "<br />" +
                        line2(full[10], full[11], full[12], full[13]) +
                        "</a>" +
                        "<br />" +
                        "<span class='previous-input'>" +
                        full[7] +
                        "</span>";
            } else {
                composedCell = data;
            }
            return composedCell;
        }

        var hiddenColumns = [
            'id',
            'creation_time',
            'user_input',
            'street',
            'line2',
            'city',
            'state',
            'zip5',
            'zip4',
            'str',
        ];

        var exportColumnSelectors = [
            '.id',
            '.street',
            '.line2',
            '.city',
            '.state',
            '.zip5',
            '.zip4',
            '.status',
            '.message',
            '.user_input'
        ]

        var dataTableSettings = {
            {#            dom: 'iBftlp',#}
            dom: "<'row'<'col-sm-4'i><'col-sm-4'B><'col-sm-4'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                 "<'row'<'col-sm-7'p>>",
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {columns: exportColumnSelectors}
                },

                {
                    extend: 'pdfHtml5',
                    exportOptions: {columns: exportColumnSelectors}
                },

                {
                    extend: 'csvHtml5',
                    exportOptions: {columns: exportColumnSelectors}
                },
            ],

            'columnDefs': [
                {
                    'targets': hiddenColumns,
                    'visible': false,
                },
                {
                    'targets': ['address'],
                    'render': addressCellContent,
                    'width': '16em',
                },
                {
                    'targets': ['action'],
                    'render': function (data, type, full, meta) {
                        var id = full[0];
                        var status = full[4];
                        return actionCellContent(id, status);
                    }
                }
            ],
            'lengthMenu': [
                [50, 100, 1000, -1],
                [50, 100, 1000, 'All'],
            ],
            'pageLength': 50,

        }

        $(document).ready(function () {
            $("#addresses").DataTable(dataTableSettings);

            updateStatusClasses();

            $('#addresses tbody').on('click', '.action-UNSUBMITTED', function () {

                var table = $('#addresses').DataTable({"retrieve": true});
                var row = table.row(this);
                var data = row.data();
                var pk = data[0];
                var url = '/validate_async/' + pk + '/';

                $.get(url, function (resp) {
                    data[1] = '<a href="/detail/' + resp.id + '">'
                            + resp.str
                            + '</a>';
                    data[4] = resp.status;
                    data[5] = resp.message;
                    data[8] = resp.street;
                    data[10] = resp.city;
                    data[11] = resp.state;
                    data[12] = resp.zip5;
                    data[13] = resp.zip4;
                    data[14] = resp.str;
                    row.data(data);
                    updateStatusClasses();
                }, "json");

            });

            $('#addresses tbody').on('click', '.action-MATCHED_PARTIAL', function () {

                var table = $('#addresses').DataTable({"retrieve": true});
                var row = table.row(this);
                var data = row.data();
                var pk = data[0];
                var url = '/confirm_async/' + pk + '/';

                $.get(url, function (resp) {
                    data[1] = '<a href="/detail/' + resp.id + '">'
                            + resp.str
                            + '</a>';
                    data[4] = resp.status;
                    data[5] = resp.message;
                    data[6] = actionCellContent(resp.id, resp.status);
                    data[14] = resp.str;
                    row.data(data);
                    updateStatusClasses();
                }, "json");

            });
        });
    </script>

{% endblock %}
