{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Address Manager{% endblock %}</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.js"></script>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <!-- DataTables -->
    <link rel="stylesheet" type = "text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.js" ></script>

    <!-- Custom -->
    <link rel="stylesheet" type = "text/css" href="{% static 'addman/base.css' %}" />

    {% block head_extras %} {% endblock %}

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col col-md-10 col-md-offset-1">
            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <a href="#" class="navbar-brand">Address Validator</a>
                    <ul class="nav navbar-nav">
                        <li><a href="{% url "addman:all_addresses" %}">All Addresses</a></li>
                        <li><a href="{% url "addman:bulk_import" %}">Bulk Import</a></li>
                    </ul>
                </div>
            </div>
            {% block page_content %} {% endblock %}

        </div>
    </div>
</div>

</body>
</html>