{% extends "addman/base.html" %}

{% block title %}
    Address Import
{% endblock %}

{% block page_content %}

    <p>This is the bulk import page.</p>

    {% if messages %}
        {% for message in messages %}
            <p><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}

    <form action="{% url 'addman:bulk_import' %}" method="post">
        {% csrf_token %}

        <div class="form-group">

            {{ form }}

        </div>

        <input type="submit" class="btn btn-primary" value="Import"/>

    </form>

{% endblock %}