.text-UNSUBMITTED {
    color: #525252;
}

.text-FAILED {
    color: #5c0000;
}

.text-MATCHED_PARTIAL {
    color: #9a4d00
}

.text-MATCHED {
    color: #075900;
}

.border-left-UNSUBMITTED {
    border-left: 3px solid #8b8b8b;
}

.border-left-FAILED {
    border-left: 3px solid #bb0000;
}

.border-left-MATCHED_PARTIAL {
    border-left: 3px solid #da6d00;
}

.border-left-MATCHED {
    border-left: 3px solid #0bbc00;
}

.previous-input {
    color: #777777;
    font-style: italic;
    font-size: smaller;
}

.address hr {
    margin: 5px 0;
}